<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Main:</strong>
  <%= @photo.main %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
